/**
 * CONFIGURATION FILE FOR RITTA
 */
 
// Since 18.4.2021: SSL should always be used, so using HTTP has been disabled.
// If you want you can get a free SSL license using Certbot or ZeroSSL.

module.exports = {
  school: {
    multiSchool: false,
    name: 'Demokoulu', // This will be hidden if multiple schools work with one instance.
    city: 'Demokaupunki',
  },
  lang: 'fi', // Language
  ssl: { // Create folder 'ssl'
    key: 'private.pem', // File in the ssl folder, PEM
    cert: 'certificate.pem', // File in the ssl folder, PEM
  },
  opinsys: { // Opinsys
    enabled: false,
    organization: 'demo.opinsys.fi',
    redirectURI: 'http://localhost/account/opinsys',
    secret: '',
  },
};
