/**
 * CONFIGURATION FILE FOR RITTA
 */
module.exports = {
  school: {
    multiSchool: false,
    name: 'Demokoulu', // This will be hidden if multiple schools work with one instance.
    city: 'Demokaupunki',
  },
  website: {
    port: 80, /*  Base port, if SSL is enabled then 443 will also be listened should be used. */
  },
  langFile: './fi.json', // Language json
  ssl: { // SSL info, SHOULD BE ENABLED ALWAYS IN PRODUCTION!
    enabled: false,
    key: './ssl/key.pem',
    cert: './ssl/cert.pem',
  },
  opinsys: { // Opinsys
    enabled: false,
    organization: 'demo.opinsys.fi',
    redirectURI: 'http://localhost/account/opinsys',
    secret: '',
  },
};
