<footer class="main-footer">
    <div class="footer-left">
      Copyright &copy; Ritta <%- 1900+new Date().getYear() %> <div class="bullet"></div> Template (Stisla) By Muhamad Nauval Azhar
    </div>
    <div class="footer-right">
      Ritta v<%- version -%>
    </div>
  </footer>