<!--
-->
<!DOCTYPE html>
<html>
  <head>
    <%- include ('partials/head', {page: lang.login, id: "loginpage"}) -%>
  </head>
  <body>
    <h1>
      Ritta - <%- lang.login %>
    </h1>
    <a href="/account/process">log in</a>
  </body>
</html>
