<!DOCTYPE html>
<html lang="fi">
   <head>
      <meta charset="UTF-8">
      <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
      <title>Ritta &mdash; L채het채 viesti</title>
      <!-- General CSS Files -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
      <!-- CSS Libraries -->
      <link rel="stylesheet" href="/jqvmap/dist/jqvmap.min.css">
      <link rel="stylesheet" href="/summernote/dist/summernote-bs4.css">
      <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.12.0/dist/katex.min.css" integrity="sha384-AfEj0r4/OFrOo5t7NnNe46zW/tFgW6x/bCJG8FqQCEo3+Aro6EYUG4+cU+KJWu/X" crossorigin="anonymous">
      <!-- Template CSS -->
      <link rel="stylesheet" href="/css/style.css">
      <link rel="stylesheet" href="/css/custom.css">
      <link rel="stylesheet" href="/css/components.css">
   </head>
   <body>
      <div id="app">
         <div class="main-wrapper">
            <%- include ('partials/navbar', {lang: lang, user: user, username: username, school: school, pageid: "homepage"}) -%>
            <!-- Main Content -->
            <div class="main-content">
               <section class="section">
                  <div class="section-header">
                     <h1>Ritta</h1>
                  </div>
                  <div class="card-body">
                    <form method="POST" action="/messages/send" autocomplete="off" autocapitalize="on">
                      <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                      <div class="form-group row mb-4">
                        <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Otsikko</label>
                        <div class="col-sm-12 col-md-7">
                          <input type="text" name="title" class="form-control" maxlength="32" autocomplete="off">
                        </div>
                      </div>
                      <div class="form-group row mb-4">
                        <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Vastaanottajat</label>
                        <div class="col-sm-12 col-md-7">
                          <input type="text" name="recipients" class="form-control" autocomplete="off">
                        </div>
                      </div>
                      <div class="form-group row mb-4">
                        <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Viesti</label>
                        <div class="col-sm-12 col-md-7">
                          <textarea name="content" class="summernote" autocomplete="off"></textarea>
                        </div>
                      </div>
                      <div class="form-group row mb-4">
                        <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3"></label>
                        <div class="col-sm-12 col-md-7">
                          <button type="submit" class="btn btn-primary"><i class="far fa-paper-plane"></i> L채het채</button>
                        </div>
                      </div>
                    </form>
                  </div>
               </section>
            </div>
            <%- include("partials/footer", {version: version}) -%>
         </div>
      </div>
      <!-- General JS Scripts -->
      <script src="/js/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
      <script src="/js/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
      <script src="/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
      <script src="/js/jquery.nicescroll.min.js"></script>
      <script src="/js/moment.min.js"></script>
      <script src="/js/stisla.js"></script>
      <script defer src="/js/katex.min.js" integrity="sha384-g7c+Jr9ZivxKLnZTDUhnkOnsh30B4H0rpLUpJ4jAIKs4fnJI+sEnkvrMWph2EDg4" crossorigin="anonymous"></script>
      <!-- JS Libraies -->
      <script src="/jquery-sparkline/jquery.sparkline.min.js"></script>
      <script src="/chart.js/dist/Chart.min.js"></script>
      <script src="/summernote/dist/summernote-bs4.js"></script>
      <script src="/summernote/dist/lang/summernote-fi-FI.min.js"></script>
      <script src="/chocolat/dist/js/jquery.chocolat.min.js"></script>

      <!-- Template JS File -->
      <script src="/js/scripts.js"></script>
      <script src="/js/custom.js"></script>

      <!-- Page Specific JS File -->
      <script src="/js/page/index.js"></script>
   </body>
</html>